/*

Add this to each HTML <head>:
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="../style.css">

Change any header tags to <div class> tags(?)

*/

* {
  font-family: IBM PLex Sans;
}
body {
  padding: 15px;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #EDE6D5;
  font-size: 16px;
  color: #3F3B3B;
}
/* .h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}
.h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}
.p {
  display: block;
} */
header nav {
  padding: 10px;
  text-align: center;
  background-color: #F2EFE4;
  border-bottom: 1px solid #D4CBB6;
  border-top: 1px solid #D4CBB6;
  /* display: block; */
}
header nav a {
  padding: 10px;
  color: #3F3D32;
  text-decoration: none;
}
header nav a:hover {
  background: #EDE6D5;
}
